<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>kod zadanie 13 css</title>
</head>
<body>
    <textarea rows="10" cols="30">body  { 
 color:    green; 
 font-size:  47px; 
       }

p  { 
 color:    blue; 
 font-size:  37px; 
       }</textarea>
</body>
</html>