p{
color: red;
font-size: 22pt;
}

p#gruby_Tryksza {
    color: green;
    font-size: 27pt;
    font-weight: bold;
}

h1#dlawszystkich_Tryksza
{
color: yellow;
font-family: Arial;
font-size: 10pt;



}

}
